.form-control, .col-form-label, .custom-select, label, header, footer {
    font-size: 0.8rem !important;
}

html, body {
    height: 100% !important;
    margin: 0;
}

.right {
    text-align: right;
}


.col-form-label {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .col-form-label {
        text-align: left;
    }
    .rightPanel {
        width: 100%;
        margin-bottom: 50px;
    }
}

.rightPanel {
    padding: 20px;
    margin: 10px;
    float: right;
    width: 75%;
    /* height: 90vh; */
    overflow: auto;
    margin-bottom: 45px;
}
.button {
    padding: .6rem 2rem;
    line-height: 1.5;
    border-radius: .4rem;
    color: #fff;
    background-color: #1b8bec;
    border-color: #6c757d;
    text-decoration: none;
    border: 1px solid rgb(24, 24, 80);
}

.pageCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loginForm {
    width: 100%;
}
.center {
    text-align: center;
}

